on property:persist.sys.parts.gpu.governor=*
    write /sys/devices/platform/13000000.mali/devfreq/13000000.mali/governor ${persist.sys.parts.gpu.governor}

on property:persist.sys.parts.gpu.max_frequency=*
    write /sys/devices/platform/13000000.mali/devfreq/13000000.mali/max_freq ${persist.sys.parts.gpu.max_frequency}
