allow init vendor_file:file mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:dir mounton;
allow init vendor_configs_file:file mounton;

# Allow init to mount vendor overlay
allow init vendor_overlay_file:dir mounton;

# Allow init to set governor and frequency
allow init sysfs_devfreq_file:file rw_file_perms;

get_prop(init, system_mtk_cta_set_prop)
set_prop(init, system_mtk_cta_set_prop)
