# MTK Service
type mtk_radio_service, service_manager_type, app_api_service;
type mtk_phonesubinfo_service, service_manager_type, app_api_service;
type mtk_simphonebook_service, service_manager_type, app_api_service;
