get_prop(system_app, system_mtk_rcs_single_reg_support_prop)
set_prop(system_app, system_mtk_rcs_single_reg_support_prop)

set_prop(system_app, system_mtk_cta_set_prop)

allow system_app fm_device:chr_file rw_file_perms;

allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file rw_file_perms;
