import /vendor/etc/init/hw/factory_init.connectivity.common.rc

on boot

#
# Connectivity related services (Begin)
#

# Conninfra
service conninfra_loader /vendor/bin/conninfra_loader
    class core
    user system
    group system
    oneshot

#
# Connectivity related services (End)
#

#
# Connectivity related kernel objects (Begin)
#

# load conninfra driver
on boot
    insmod /vendor/lib/modules/conninfra.ko

#
# Connectivity related kernel objects (End)
#

