on early-init
    start set_permissive

on post-fs
    mount none /system/bin/hw/android.hardware.lights-service.xiaomi_mt6895 /vendor/bin/hw/android.hardware.lights-service.mediatek bind

on property:persist.sys.parts.gpu.governor=*
    write /sys/devices/platform/13000000.mali/devfreq/13000000.mali/governor ${persist.sys.parts.gpu.governor}

on property:persist.sys.parts.gpu.max_frequency=*
    write /sys/devices/platform/13000000.mali/devfreq/13000000.mali/max_freq ${persist.sys.parts.gpu.max_frequency}

on property:persist.sys.MT6895.dt2w=*
    exec /system/bin/xiaomi-touch 14 ${persist.sys.MT6895.dt2w}

service set_permissive /system/bin/set_permissive.sh
    class main
    user root
	seclabel u:r:su:s0
    disabled
