on early-init
    write /sys/fs/selinux/enforce 1

on property:persist.sys.parts.gpu.governor=*
    write /sys/devices/platform/13000000.mali/devfreq/13000000.mali/governor ${persist.sys.parts.gpu.governor}

on property:persist.sys.parts.gpu.max_frequency=*
    write /sys/devices/platform/13000000.mali/devfreq/13000000.mali/max_freq ${persist.sys.parts.gpu.max_frequency}

on property:dev.bootcomplete=1
    chmod 0666 /dev/xiaomi-touch

on property:dev.bootcomplete=1 && property:persist.sys.MT6895.dt2w=*
    exec /system/bin/xiaomi-touch 14 ${persist.sys.MT6895.dt2w}
