service insmod_sh /vendor/bin/init.insmod.sh /vendor/etc/init.insmod.${ro.hardware}.cfg
    class main
    user root
    group root system
    disabled
    oneshot

on early-init
    setprop vendor.all.modules.ready 0
    write /proc/bootprof "modprobe: Load_Module_START"
    start insmod_sh
