on property:sys.boot_completed=1
    chmod 0664 /sys/class/usbpd/usbpd0/usbpd_verifed
    chmod 0664 /sys/class/usbpd/usbpd0/request_vdm_cmd
    chmod 0664 /sys/class/usbpd/usbpd0/verify_process
    chmod 0664 /sys/class/power_supply/usb/pd_authentication
    chmod 0664 /sys/class/power_supply/bms/authentic

service batterysecret /vendor/bin/batterysecret
    class last_start
    user root
    group system system wakelock
    disabled
    seclabel u:r:batterysecret:s0

on property:sys.boot_completed=1
    start batterysecret

#run batterysecret in off-charge mode
on charger
    start batterysecret
    chmod 0664 /sys/class/usbpd/usbpd0/usbpd_verifed
    chmod 0664 /sys/class/usbpd/usbpd0/request_vdm_cmd
    chmod 0664 /sys/class/usbpd/usbpd0/verify_process
    chmod 0664 /sys/class/power_supply/usb/pd_authentication
    chmod 0664 /sys/class/power_supply/bms/authentic

#accelerate property project classification
on property:ro.product.device=xaga
    setprop persist.vendor.accelerate.charge false
on property:ro.product.device=xagain
    setprop persist.vendor.accelerate.charge false