# add charge_logger service for dump charge message
service charge_logger /vendor/bin/charge_logger
    class last_start
    user system
    group system system wakelock
    disabled
    oneshot
    seclabel u:r:charge_logger:s0

on post-fs-data
    mkdir /data/vendor/charge_logger 0771 system system

on property:sys.boot_completed=1
    chmod 0660 /sys/class/power_supply/wireless/reverse_chg_mode
    start charge_logger

#run charge_logger in off-charge mode
on charger
    mkdir /data/vendor/charge_logger 0771 system system
    chmod 0660 /sys/class/power_supply/wireless/reverse_chg_mode
    start charge_logger
