on early-init
    # boot perf. tune
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 2000000
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq 2550000
    write /sys/devices/system/cpu/cpufreq/policy7/scaling_min_freq 2550000
    write /sys/class/devfreq/mtk-dvfsrc-devfreq/userspace/set_freq 5500000000

on charger
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 0
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq 0
    write /sys/devices/system/cpu/cpufreq/policy7/scaling_min_freq 0
    write /sys/class/devfreq/mtk-dvfsrc-devfreq/userspace/set_freq 0


on post-fs-data
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor sugov_ext
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor sugov_ext
    write /sys/devices/system/cpu/cpufreq/policy7/scaling_governor sugov_ext
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 0

on boot
    # boot perf. tune
    write /dev/cpuctl/system/cpu.uclamp.min 100
    write /dev/cpuctl/system/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/system-background/cpu.uclamp.min 100
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground/cpu.uclamp.min 100
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/top-app/cpu.uclamp.min 100
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/background/cpu.uclamp.min 100
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 1

on property:sys.boot_completed=1
    write /proc/sys/kernel/sched_migration_cost_ns 200000

    # restore boot perf. tune
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 0
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq 0
    write /sys/devices/system/cpu/cpufreq/policy7/scaling_min_freq 0
    write /sys/class/devfreq/mtk-dvfsrc-devfreq/userspace/set_freq 0

    write /dev/cpuctl/system/cpu.uclamp.min 0
    write /dev/cpuctl/system/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/system-background/cpu.uclamp.min 0
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/foreground/cpu.uclamp.min 0
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/top-app/cpu.uclamp.min 0
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/background/cpu.uclamp.min 0
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0
