on early-boot
    chown system system /sys/class/leds/red/breath

    chown system system /sys/class/leds/green/breath

    chown system system /sys/class/leds/blue/breath

    chown system system /sys/class/leds/white/breath
    chown system system /sys/class/leds/white/brightness

    chown system system /sys/class/leds/lcd-backlight/brightness

service vendor.light-xiaomi_mt6895 /vendor/bin/hw/android.hardware.lights-service.xiaomi_mt6895
    class hal
    user system
    group system
    shutdown critical
