<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomi.settingsoverlay.xaga"
    android:versionCode="1"
    android:versionName="1.0">
    <application 
      android:hasCode="false"/>
    <overlay
      android:targetPackage="com.android.settings"
      android:isStatic="true"
      android:priority="1"/>
</manifest>
